<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Novadiscovery</string>
	<key>ordering</key>
	<array>
		<string>908F6275-FF01-4A59-BB48-9A00CEFB4266</string>
		<string>8FA47D34-467F-4D0B-8200-B2220F56C55E</string>
		<string>D183F0D5-0325-4805-A80A-7DEB10BCE8B1</string>
		<string>F6573C51-072A-4AC2-8E14-F76119EEB12C</string>
		<string>D8BA48C6-3141-44E9-AD1E-FE72F9F29EAD</string>
		<string>57CD7217-4469-4FD0-98AF-88F331502FB6</string>
	</array>
	<key>uuid</key>
	<string>B44360C6-265D-43E2-A624-AE457C8D9AE4</string>
</dict>
</plist>
